:root {
  --primary-font: poppins-font-bold;
  --secondary-font: poppins-font-light;

  --primary-text-color: #2563eb;
  --secondary-bg-color: #f8fafe;
}

@font-face {
  font-family: poppins-font-bold;
  src: url("fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins-font-light;
  src: url("fonts/Poppins-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav Section */
.navSection {
  width: 100%;
  background-color: var(--secondary-bg-color);
}
.nav {
  /* border: 2px solid black; */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  font-family: var(--primary-font);
  position: sticky;
  top: 0px;
  z-index: 1;
}
#navLg {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 700;
  color: #0f172a;
}

#span {
  color: var(--primary-text-color);
}
.navList {
  display: flex;
  gap: 80px;
  list-style: none;
}

.navList a {
  font-family: var(--secondary-font);
  position: relative;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
  text-transform: capitalize;
}

.navList a::after {
  position: absolute;
  content: "";
  left: 0;
  top: 20px;
  bottom: 0;
  width: 0%;
  height: 2.5px;
  transition: 0.3s ease;
  background-color: var(--primary-text-color);
}

.navList a:hover::after {
  color: var(--primary-text-color);
  width: 100%;
}
