:root {
  --primary-font: poppins-font-bold;
  --secondary-font: poppins-font-light;

  --primary-text-color: #2563eb;
  --secondary-bg-color: #f8fafe;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-btn-color: #2563eb;
}

@font-face {
  font-family: poppins-font-bold;
  src: url("fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins-font-light;
  src: url("fonts/Poppins-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav Section */
.navSection {
  width: 100%;
  background-color: var(--secondary-bg-color);
}
.nav {
  /* border: 2px solid black; */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  font-family: var(--primary-font);
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--secondary-bg-color);
}
#navLg {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 700;
  color: #0f172a;
}
#span {
  color: var(--primary-text-color);
}
.navList {
  display: flex;
  gap: 80px;
  list-style: none;
}
.navList a {
  font-family: var(--secondary-font);
  position: relative;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
  text-transform: capitalize;
  color: var(--primary-black-color);
}
.navList a::after {
  position: absolute;
  content: "";
  left: 0;
  top: 20px;
  bottom: 0;
  width: 0%;
  height: 2.5px;
  transition: 0.3s ease;
  background-color: var(--primary-text-color);
}
.navList a:hover::after {
  width: 100%;
}

/* Hero Section */
.heroContainer {
  position: relative;
  width: 98%;
  margin: auto;
  height: 86vh;
  margin-top: 6%;
  background: url("assets/bg.jpg") center / cover no-repeat;
  /* border: 2px solid black; */
  z-index: 1;
}
.heroContainer::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
}
.section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 20px 25px;
  gap: 20px;
  opacity: 0.95;
}
#sectionTitle {
  color: var(--primary-white-color);
  font-size: 56px;
  font-weight: 900;
  font-family: var(--primary-font);
}
#sectionTagLine {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: var(--secondary-font);
}
#sectionbtn {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500px;
  cursor: pointer;
}
button {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px 25px;
  transition: all 0.2s;
}
button:hover {
  background-color: var(--primary-btn-color);
  color: var(--primary-white-color);
  transform: translateY(-1px);
}
